@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    font-family: 'Poppins', sans-serif;
}

#header {    
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

#header li a,
#footer li a {
    @apply font-medium text-black hover:text-indigo-600 transition-colors flex items-center gap-1
}

#header li .active,
#footer li .active {
    @apply text-indigo-600
}

#useful_box,
#authentication_container {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

#useful_box:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

#useful_box p {
    @apply text-slate-600 font-medium
}

/* FOOTER */

#socials a {
    @apply border px-2.5 py-2 rounded-lg inline-block transition-all
}

#facebook {
    @apply border-[#0866FF]
}
#facebook:hover {
    @apply bg-[#0866FF]
}
#facebook:hover svg,
#facebook:hover span {
    @apply text-white
}
#facebook svg,
#facebook span {
    @apply text-[#0866FF]
}

#twitter {
    @apply border-black
}
#twitter:hover {
    @apply bg-black
}
#twitter:hover svg,
#twitter:hover span {
    @apply text-white
}
#twitter svg,
#twitter span {
    @apply text-black
}

#instagram {
    @apply border-[#980FF7]
}
#instagram:hover {
    @apply bg-[#980FF7]
}
#instagram:hover svg,
#instagram:hover span {
    @apply text-white
}
#instagram svg,
#instagram span {
    @apply text-[#980FF7]
}

#linkedin {
    @apply border-[#0A66C2]
}
#linkedin:hover {
    @apply bg-[#0A66C2]
}
#linkedin:hover svg,
#linkedin:hover span {
    @apply text-white
}
#linkedin svg,
#linkedin span {
    @apply text-[#0A66C2]
}

/* DASHBOARD */
.sidebar {
    @apply sm:fixed py-5 md:py-7 px-4 min-h-full w-full sm:w-[32%] lg:w-[22%] bg-white text-[#151515] sm:top-0 sm:left-0 z-40 flex flex-col justify-between
}

.sidebar li .active {
    @apply text-indigo-600 border-r-4 rounded-sm border-indigo-600
}

#task_card:hover #delete_btn {
    @apply opacity-100
}


.loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    position: relative;
    animation: rotate 1s linear infinite
}
.loader::before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    inset: 0px;
    border-radius: 50%;
    border: 5px solid #FFF;
    animation: prixClipFix 2s linear infinite ;
}

@keyframes rotate {
    100%   {transform: rotate(360deg)}
}

@keyframes prixClipFix {
    0%   {clip-path:polygon(50% 50%,0 0,0 0,0 0,0 0,0 0)}
    25%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0)}
    50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
    75%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 100%)}
    100% {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 0)}
}